<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <style>
        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: Arial, Helvetica, sans-serif;
        }
        .container{
            margin-top: 10px;
            display: flex;
            gap: 30%;
        }
        .logo{
            margin-top: 0;
            margin-left: 20px;
            width: 70px;
            height: 70px;
            border-radius: 20px;
        }
        h1{
            margin-top: 10px;
        }
    </style>
</head>
<body>
     <div class="container">
        <img src="./../../images/Leonardo_Diffusion_XL_logo_for_online_book_store_0.jpg" alt="" class="logo">
        <h1>Allenhouse Institute of Technology</h1>
     </div>
</body>
</html>